
<h3 style="margin-bottom: 10px;">功能列表</h3>
<ul>
    <li>支持10项整体指标（同报文整体指标监测工具）</li>
    <li>支持ME7/ME5的全部CAN信号</li>
    <li>支持多个版本的DBC文件</li>
    <li>同一车型的信号可以任意组合</li>
    <li>支持用户指定信号的显示颜色</li>
    <li>支持用户自行对信号的显示顺序进行排序</li>
    <li>支持跳过invalid值</li>
    <li>上述配置项，用户自己定义配置文件</li>
    <li>配置文件上传到云端保存，加载后使用</li>
    <li>配置文件在云端开设两个存储区，存储在Public可以被其他同事下载，Private区域只能用户自己下载</li>
    <li>查询时，支持近30天的任意一天</li>
    <li>查询结果有级缩放，1-18级，目前开放6-18级，对应X最小刻度从60秒到10毫秒</li>
    <li>任何查询动作，要在3秒内返回结果</li>
    <li>最大化的利用屏幕面积</li>
    <li>对同一时刻的多个信号值，做标注显示</li>
</ul>
<br/>
<h3 style="margin-bottom: 10px;">背景色说明</h3>
<img src={{img1data}} width="800" height="400" align="middle" alt="背景色说明">
<p>棕色背景表示Tbox与平台断开连接（无网或死机），蓝色背景表示Tbox与平台连接正常，白色背景表示未来时间。<br/> 断开连接期间，也有信号，是因为补发报文的存在。</p>
<br/>

<h3 style="margin-bottom: 10px;">配置文件编辑说明</h3>
<img src={{img2data}} width="800" height="556" align="middle" alt="配置文件编辑说明">
<p>配置文件中如果包含报文信号，要区分车型，不要混用 配置文件命名，不要包含 + - ' , 等这些字符</p>
<br/>

<h3 style="margin-bottom: 10px;">配置文件上传云端</h3>
<img src={{img3data}} width="800" height="367" align="middle" alt="配置文件上传云端">
<p>上传到Public区域，别人可以下载你的配置文件，但不能修改 <br/> 上传到个人区域，仅自己可以下载，对别人不可见</p>
<br/>
<div style="margin-bottom: 10px;">更多精彩功能，敬请期待</div>